body {
    height: 100%;
    margin-left: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#graphContainer {
    background-color: white;
    position: fixed;
    right: 0px;
    width: 75%;
    height: 100%;
}

#sidebar {
    background-color: whitesmoke;
    width: 230px;
    height: 100%;
    position: fixed;
    text-align: center;
}

#title {
    font-size: 3vw;
    background-color: grey;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

#searchbar-container {
    display: table;
    width: 100%;
    height: 4vw;
    border-spacing: 0px;
    margin: 0;
    padding: 0;
}

#searchbar {
    border-color: grey;
    border-radius: 3px;
    border-width: 1px;
    margin: 2.5%;
    display: table-cell;
    width: 80%;
    float: left;
    padding: 0px;
    height: 23px;
    font-size: 20px;
}

#searchbar::placeholder {
    font-size: 1vw;
}

#searchbar:focus {
    outline: none;
}

#searchbtn {
    float: right;
    border-radius: 0px;
    border: none;
    background-color: whitesmoke;
    display: table-cell;
    width: 15%;
}

#searchbtn:focus {
    outline: none;
}

#searchbtn:hover {
    background-color: cyan;
}

#sb-img {
    height: 2vw;
}

#checkbox-container {
    height: 15vw;
    display: table;
    border-spacing: 0px;
    width: 100%;
    padding: 0px;
}

.checkboxes {
    text-align: center;
    vertical-align: bottom;
    height: 5vw;
}

.links {
    /*fill: transparent;*/
    stroke: lightgray;
    stroke-width: 2.3px;
}

.node {
    stroke: white;
    stroke-width: 2.3;
}

html, text{
    font-family: Linux Libertine, Georgia, Times, serif; /*font stack is defined the same way it is in Wikipedia*/
    font-size: 20px;
    color: black;
    stroke-width: 0px;
    fill: black;
}

#bottombar-container {
    position: absolute;
    bottom: 1vw;
}
