body {
  height: 100%;
  margin-left: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#graph {
  background-color: darkgrey;
  position: fixed;
  right: 0px;
  width: 75%;
  height: 100%;
}

#sidebar {
  background-color: whitesmoke;
  width: 25%;
  height: 100%;
  position: fixed;
  text-align: center;
}

#title {
  font-size: 3vw;
  background-color: grey;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}

#searchbar-container {
  display: table;
  width: 100%;
  height: 4vw;
  border-spacing: 0px;
}

#searchbar {
  border: none;
  display: table-cell;
  width: 80%;
  float: left;
  padding: 0px;
  height: 100%;
  font-size: 1.5vw;
}

#searchbar::placeholder {
  font-size: 1.5vw;
}

#searchbar:focus {
  outline: none;
}

#searchbtn {
  float: right;
  border-radius: 0px;
  border: none;
  background-color: teal;
  display: table-cell;
  width: 20%;
  height: 100%;
}

#searchbtn:focus {
  outline: none;
}

#searchbtn:hover {
  background-color: cyan;
}

#sb-img {
  height: 2vw;
}

.checkboxes {
  text-align: left;
  margin-top: 0.5vw;
  height: 2vw;
}

.nodes, .links {
  /*fill: transparent;*/
  stroke: #777777;
  stroke-width: 3px;
}

text {
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  stroke-width: 0px;
  fill: white;
}

#bottombar-container {
  position: absolute;
  bottom: 1vw;
}
